 
 /* main section */

 main {
     max-width: 1140px;
     margin: 0 auto;
 }

 /* about section styles */

 section {
     margin-top: 130px;
 }

 .about {
     text-align: center;
     background: #FFF8F3;
     border-radius: 10px;
     padding: 130px 150px;
 }

 .section-title {
     text-align: center;
     margin-bottom: 30px;
     font-size: 35px;
     font-weight: 700;

 }

 .section-descripton {
     text-align: center;
     color: #757575;
     font-size: 18px;
     margin-bottom: 30px;

 }

 .about-info-container {
     display: flex;
     justify-content: space-around;
     margin-bottom: 130px;
 }

 .info-title {
     color: #757575;
     font-size: 20px;
 }

 .info-description {
     font-weight: 700;
     font-size: 20px;
     color: #474747;
 }

 /* what I do section */

 /* .what-i-do {
     
 } */

 .skills-container {
     display: flex;
     gap: 24px;

 }

 .skill-title {
     font-weight: 700;
     font-size: 20px;
     margin-top: 30px;
 }

 .skill-description {
     font-size: 16px;
     color: #757575;
     margin-top: 20px;
 }

 .skill {
     background: #FFFFFF;
     box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
     border-radius: 5px;
     margin-top: 50px;
     padding: 30px;
 }

 /* Rsume section styles */

 .resume-content {
     display: flex;
     gap: 24px;
 }

 .resume-item {
     margin-top: 30px;
     margin-bottom: 30px;

 }

 .resume .title {
     font-weight: 700;
     font-size: 25px;
     color: #474747;
     margin-top: 30px;
     margin-bottom: 10px;
 }

 .resume .sub-title {
     font-weight: 600;
     font-size: 20px;
     color: #757575;
     margin-bottom: 20px;
 }

 .resume .description {
     color: #757575;
     margin-bottom: 30px;

 }
 
.resume-button{
    margin-top: 50px;
    text-align: center;
}

/* contact section style */

.contact{
    display: flex;
    gap: 117px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"]{
    margin-bottom: 24px;
    border: 0;
    height: 64px;
    width: 100%;
}
.contact textarea{
    width: 100%;
    border: 0;
}
input{
    padding: 18px 30px;
}
.contact a{
    text-decoration: none;
}