 /* main section */

 main {
     max-width: 1140px;
     margin: 0 auto;
 }

 /* about section styles */

 .about {
     text-align: center;
     margin-top: 130px;
     background: #FFF8F3;
     border-radius: 10px;
     padding: 130px 150px;
 }

 .section-title {
     margin-bottom: 30px;
     font-size: 35px;
     font-weight: 700;
 }

 .section-descripton {
     color: #757575;
     font-size: 18px;
     margin-bottom: 30px;
 }

 .about-info-container {
     display: flex;
     justify-content: space-around;
 }

 .info-title {
     color: #757575;
     font-size: 20px;
 }
 .info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
 }